.header{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    border: 1px solid blanchedalmond;
    background-color: #f9f9f9;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.logo{
    height: 50px;
    width: 50px;
    position: relative;
    top: 8px;
    left: 30px;
    cursor: pointer;
}

.my-account-head{
    padding-top: 20px;
    float: left;
    overflow: hidden;
}

.my-account-head .my-account {
    font-size: 16px;  
    border: none;
    outline: none;
}

.my-account{
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color:#f9f9f9;
}

.my-account:hover{
    color: skyblue;
}

.app-name{
    font-size: 20px;
    font-family: cursive;
    position: absolute;
    top: 18px;
    left: 85px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding: 0px 100px;
    font-size: 20px;
    cursor: pointer;
}

.nav-items > ul > li{
    padding-left: 40px;
    color: rgb(8, 8, 19);
}

/* .nav-items > ul > li:hover{
    color: skyblue
} */
.nav-items > ul > li > a.active{
    color: red;
    background-color: lavenderblush;
    border-radius: 10%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.my-account-head:hover .dropdown-content {
    display: block;
}
