.main-body{
    /* background-color:#f9f9f9; */
}
.search{
    margin-top: 10px;
    margin-left: 31%;
}

.search > input{
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid navajowhite;
    border-radius: 4px;
    box-sizing: border-box;
}
