.main-body{
    /* background-color:#f9f9f9; */
}
.search{
    margin-top: 10px;
    margin-left: 5%;
    display: flex;
}

.chip-head{
    position: relative;
}

.chip-items{
    padding-left: 15px;
    padding-top: 12px;
}

.search > input{
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid navajowhite;
    border-radius: 4px;
    box-sizing: border-box;
}

.display-food-name{
    width: 130px;
}

.resturant-container{
    padding: 10px;
}
